@layer components {
  .kiqr-button {
    @apply border-border inline-flex justify-center items-center gap-x-2 cursor-pointer rounded px-5 py-2 font-bold no-underline;
  }

  .kiqr-button--default {
    @apply bg-button text-white;
  }

  .kiqr-button--danger {
    @apply bg-red-600 text-white;
  }

  .kiqr-button--small {
    @apply px-3 py-1 text-sm;
  }

  .kiqr-button--large {
    @apply px-6 py-3 text-lg;
  }
}
