# frozen_string_literal: true

require "test_helper"

class <%= class_name %>::ComponentTest < ViewComponent::TestCase
  def test_renders
    render_inline(<%= class_name %>::Component.new)
    assert_selector "div"
  end
end
